<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/list-product.css}">
    <link rel="stylesheet" th:href="@{/css/customer-login.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/nav-bar-banned.css}">
    <link th:href="@{/css/slide.css}" type="text/css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.css" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="preload" href="/Content/web/fonts/icon/fonts/hoangha.woff" as="font" type="font/woff" crossorigin="">

</head>
<body>
<div th:replace="/layout/header :: header"></div>
<div class="container custom-slide d-flex flex-row align-items-center justify-content-center mt-2">
    <!--    <div th:replace="/layout/nav-bar-banned :: nav-banned "></div>-->
    <div th:replace="/layout/slide :: slide "></div>

</div>
<div class="container custom-container">
    <div class="product-list-title d-flex flex-row " style="">
        <a href="https://cellphones.com.vn/mobile.html"
           class="title button__link"><h2>ĐIỆN THOẠI NỔI BẬT NHẤT</h2>
        </a>
        <div class="list-related-tag">
            <a href="/mobile/1" class="related-tag button__link">Apple</a>
            <a href="/mobile/2" class="related-tag button__link">Samsung</a>
            <a href="/mobile/3" class="related-tag button__link">Xiaomi</a>
            <a href="/mobile" class="related-tag button__link">Xem tất cả</a>
        </div>
    </div>
    <div class="row mt-2">
        <div th:each="product, iterStat : ${products}" class="col col-3 product-wrapper position-relative">
            <div class="product__price--percent position-absolute">
                <p class="product__price--percent-detail" th:text="${product.getDiscount().getDiscountDescription()}">
                </p>
            </div>
            <div class="install-0-tag">
                Trả góp 0%
            </div>
            <div class="card mb-4">
                <div class="image-container">
                    <img th:each="image : ${product.productImages} " th:style="'width: 180px' "
                         th:src="@{${image.imageUrl}}" alt="Product Image" class="card-img-top product-image"/>
                    <form th:action="@{/add-to-cart}" class="add-to-cart-form" method="post">
                        <input type="hidden" name="productId" th:value="${product.productId}"/>
                    </form>
                </div>
                <div class="card-body">
                    <h3 class="card-title" th:text="${product.productName}" style="font-size: 16px">Product Name</h3>
                    <div class="product-price">
                        <p class="card-text" th:text="${formatPriceDiscount[iterStat.index]}">
                        </p>
                        <span class="card-text price-old" th:text="${formattedPrices[iterStat.index]}"></span>
                    </div>
                    <form th:action="@{/add-to-cart}" class="add-to-cart-form" method="post">
                        <input type="hidden" name="productId" th:value="${product.productId}"/>
                        <button type="submit" class="btn-add-to-cart">
                            <img class="shopping-cart" th:src="@{/img/shopping-cart.svg}" alt="Product Image">
                            Thêm vào giỏ hàng
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="targetdock">
    <div class="ddv-dock dock1">
        <a target="_blank" href="https://didongviet.vn/2-ngay-deal-he.html">
            <img src="https://didongviet.vn/landingpage/files/Untitled-1.png">
        </a>
    </div>
    <div class="ddv-dock dock2" style="padding-bottom:10px;">
        <a href="/kho-san-pham-cu">
            <img src="https://hoanghamobile.com/Content/web/img/maycugiatot.png">
        </a>
    </div>
    <div class="ddv-dock dock3" style="padding-bottom:10px;">
        <a href="/kho-san-pham-cu">
            <img src="https://hoanghamobile.com/Content/web/img/thucugiacao.png">
        </a>
    </div>
    <style>
        .ddv-dock {
            position: fixed;
            z-index: 99;
        }

        .ddv-dock img {
            width: 100px;
            margin-right: 50px;
            margin-bottom: 10px;
        }

        @media screen and (min-width: 1024px) {
            .ddv-dock.dock1 {
                bottom: 50%;
                right: 10px;
                margin-bottom: 20px;

            }

            .ddv-dock.dock2 {
                bottom: 35%;
                right: 10px;
                margin-bottom: 10px;

            }
            .ddv-dock.dock3 {
                bottom: 20%;
                right: 10px;
                margin-top: 10px;

            }
        }

        @media screen and (max-width: 991px) {
            .ddv-dock.dock1 {
                bottom: 140px;
                left: 10px;
            }

            .ddv-dock.dock2 {
                top: 70px;
                left: 10px;
            }

            .ddv-dock.dock3 {
                top: 30px;
                left: 10px;
            }
        }
    </style>
</div>
<div id="navSocial">
    <div class="social">
        <ul>
            <li><a href="#" title="Facebook Hoàng Hà Mobile" target="_blank" class="blue"><span><i class="fa-brands fa-facebook"></i></span></a></li>
            <li><a href="#" title="Youtube Hoàng Hà Mobile Channel" target="_blank" class="red"><span><i class="fa-brands fa-youtube"></i></span></a></li>
            <li><a href="#" title="Hoàng Hà Mobile Instagram" target="_blank" class="rainbow"><span><i class="fa-brands fa-instagram"></i></span></a></li>
            <li><a href="#" title="Tiktok" target="_blank" class="black"><span><i class="fa-brands fa-tiktok"></i></span></a></li>
        </ul>
    </div>
</div>
<div th:replace="/layout/footer :: footer"></div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.btn-add-to-cart').click(function (e) {
            e.preventDefault();

            var form = $(this).closest('.add-to-cart-form');
            var formData = form.serialize();

            $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: formData,
                success: function (response) {
                    console.log('Sản phẩm đã được thêm vào giỏ hàng.', response);
                    window.location.href = '/cart';
                },
                error: function (xhr, status, error) {
                    console.error('Lỗi khi thêm sản phẩm vào giỏ hàng.', error);
                }
            });
        });
        $('.image-container').click(function (e) {
            e.preventDefault(); // Ngăn chặn hành động mặc định của sự kiện click

            var productId = $(this).closest('.product-wrapper').find('input[name="productId"]').val();
            window.location.href = '/mobile/detail/' + productId;
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        const slides = document.querySelectorAll('.custom-content-slide .content-slide');

        slides.forEach(slide => {
            slide.addEventListener('click', function () {
                slides.forEach(s => s.classList.remove('active')); // Loại bỏ lớp active từ tất cả các slide
                this.classList.add('active'); // Thêm lớp active vào slide được click
            });
        });
    });
</script>
</body>
</html>