<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/product-detail.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<div th:replace="/layout/header :: header"></div>
<div class="container">
    <div class="product-detail mt-2">
        <div class="product-image">
            <img th:each="image : ${product.productImages} " th:style="'width: 300px' "
                 th:src="@{${image.imageUrl}}" alt="Product Image" class="card-img-top product-image"/>
        </div>
        <div class="product-info">
            <h1 class="h1 mb-1" th:text="${product.productName}"></h1>
            <div class="fs-5 mb-5">
                <span class=" h4 text-decoration-line-through" th:text="${formattedPrices}"></span>
            </div>
            <p class="lead product-description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?
            </p>
            <div class="quantity-add">
                <input class="form-control" id="inputQuantity" type="number" value="1">
                <form th:action="@{/add-to-cart}" class="add-to-cart-form" method="post">
                    <input type="hidden" name="productId" th:value="${product.productId}"/>
                    <button class="btn btn-add-to-cart" type="button">
                        <img class="shopping-cart" th:src="@{/img/shopping-cart.svg}" alt="Product Image">
                        Add to cart
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>