<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet" type="text/css">
    <link href="/css/dataTables.boostrap4.min.css" rel="stylesheet" type="text/css">
    <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link th:href="@{/css/management-product.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/all.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/dataTables.boostrap4.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.css" rel="stylesheet"
          type="text/css"/>
    <style>
        body table {
            color: black !important;
            font-size: 16px;
            font-family: Roboto, sans-serif !important;
        }
    </style>
</head>
<body>
<div class="d-flex flex-row ">
    <div th:replace="/layout/blank :: blank">
    </div>
    <div class=" d-flex flex-column w-100">
        <!-- DataTales Example -->
        <div th:replace="/layout/top-bar :: top-bar"></div>
        <div class="ml-3 card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">QUẢN LÝ CHI TIẾT HÓA ĐƠN</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive custom-table">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Mã chi tiết hóa đơn</th>
                            <th>Mã hóa đơn</th>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Giảm giá</th>
                            <th>Thành tiền</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Mã chi tiết hóa đơn</th>
                            <th>Mã hóa đơn</th>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Giảm giá</th>
                            <th>Thành tiền</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        <tr th:each="orderDetail, iterStat : ${orderDetails}">
                            <td th:text="${orderDetail.id}"></td>
                            <td th:text="${orderDetail.order.orderId}"></td>
                            <td th:text="${orderDetail.product.productName}"></td>
                            <td th:text="${orderDetail.quantity}"></td>
                            <td th:text="${orderDetail.discount}"></td>
                            <td th:text="${formattedPrices[iterStat.index]}">Edinburgh</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/css/jquery/jquery.min.js}"></script>
<script th:src="@{/css/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/css/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/css/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/css/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{/js/demo/datatables-demo.js}"></script>
</body>
</html>