<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/header.css}">
  <link rel="stylesheet" th:href="@{/css/payment.css}">
  <link rel="stylesheet" th:href="@{/css/all.min.css}" type="text/css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div th:replace="/layout/header :: header"></div>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form th:object="${order}" th:action="@{/save-order}" method="post">
        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Họ</label>
            <input type="text" id="fname" name="firstName" th:field="*{firstName}"  placeholder="John M. Doe">
            <label for="lname"><i class="fa fa-user"></i> Tên</label>
            <input type="text" id="lname" name="lastName" th:field="*{lastName}" placeholder="John M. Doe">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" th:field="*{email}" placeholder="john@example.com">
            <label for="adr"><i class="fa fa-institution"></i> Địa chỉ</label>
            <input type="text" id="adr" name="shipAddress" th:field="*{shipAddress}" placeholder="542 W. 15th Street">
          </div>
          <div class="col-50">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa-brands fa-cc-visa" style="color:navy;"></i>
              <i class="fa-brands fa-cc-amex" style="color:blue;"></i>
              <i class="fa-brands fa-cc-mastercard" style="color:red;"></i>
              <i class="fa-brands fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Name on Card</label>
            <input type="text" id="cname" name="cardname" placeholder="John More Doe">
            <label for="ccnum">Credit card number</label>
            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
            <label for="expmonth"><i class="fa-solid fa-phone"></i> Số điện thoại</label>
            <input type="text" id="expmonth" name="shipPhone" placeholder="September">
          </div>
        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
        </label>
        <input type="submit" value="Thanh toán" class="btn font-weight-bold">
      </form>
    </div>
  </div>
  <div class="col-25">
    <div class="container">
      <h4 class="font-weight-bold">Giỏ hàng <span class="price" style="color:black" ><i class="fa fa-shopping-cart"></i> <b th:text="${quantity}">4</b></span></h4>
      <div th:each="cart, iterStat : ${carts}" class="d-flex flex-row justify-content-between">
        <span th:text="${cart.quantity}"></span> <span>&nbsp; X &nbsp;</span>
        <a href="#" th:text="${cart.productName}">Product 1</a>
        <div class="d-flex flex-column align-items-end justify-content-end ml-auto">
          <p th:text="${formatPriceDiscount[iterStat.index]}" class="price"></p>
          <p class="price-old" th:text="${formattedPrices[iterStat.index]}"></p>
        </div>
      </div>
      <hr>
      <p>Total <span class="price" style="color:black"><b class="font-weight-bold" th:text="${payment}"></b></span></p>
    </div>
  </div>
  <div id="orderSuccessMessage" th:if="${orderSuccess}" style="color:green;">
    Đặt hàng thành công!
  </div>
</div>
<script th:src="@{/fontawesome-free-6.5.2-web/js/all.min.js}"></script>
<script>
  // Hàm để ẩn thông báo sau một khoảng thời gian
  function hideSuccessMessage() {
    var successMessage = document.getElementById("orderSuccessMessage");
    if (successMessage) {
      setTimeout(function() {
        successMessage.style.display = "none";
      }, 3000); // 3000ms = 3 giây
    }
  }

  // Gọi hàm hideSuccessMessage khi trang được tải
  window.onload = hideSuccessMessage;
</script>
</body>
</html>