<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" type="text/css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="/css/order-tracking.css" type="text/css" rel="stylesheet">
    <link th:href="@{/css/order-tracking.css}" type="text/css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<div th:replace="/layout/header :: header"></div>
<div id="breadcrumbs">
    <div class="block-breadcrumbs affix">
        <div class="cps-container ">
            <ul class="d-flex flex-row align-items-center ">
                <li>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="10.633"
                             viewBox="0 0 12 10.633">
                            <path id="home"
                                  d="M13.2,9.061H12.1v3.965a.6.6,0,0,1-.661.661H8.793V9.721H6.15v3.965H3.507a.6.6,0,0,1-.661-.661V9.061h-1.1c-.4,0-.311-.214-.04-.494L7,3.259a.634.634,0,0,1,.936,0l5.3,5.307c.272.281.356.495-.039.495Z"
                                  transform="translate(-1.471 -3.053)" fill="#d70018"></path>
                        </svg>
                    </div>
                    <a href="/static" class="button__home nuxt-link-active">Trang chủ</a></li>
                <li>
                    <div class="d-flex flex-row align-items-center text-center">
                        <div>
                            <svg height="15" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                <path d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path>
                            </svg>
                        </div>
                        <div>
                            <p>
                                TRA CỨU TÌNH TRẠNG ĐƠN HÀNG ONLINE
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="cps-container cps-body">
    <div style="display:none;">
        <div id="page_loader">
            <div class="logo"></div>
            <div class="loader"></div>
        </div>
    </div>
    <div id="tra-cuu-don-hang">
        <div class="box-tra-cuu py-2 px-2"><p class="box-search-title">Kiểm tra thông tin đơn hàng <span><br> &amp; tình trạng vận chuyển</span>
        </p>
            <form th:action="@{/order-tracking/load/}" method="get" class="box-search-info is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
                <div class="field">
                    <div class="box-search-item">
                        <input id="inputPhone" name="phone" type="text" maxlength="10" required="required"
                               class="box-search-item input-field">
                        <label for="inputPhone" title="Số điện thoại (bắt buộc)" data-title="Số điện thoại" class="placeholder-label"></label>
                    </div>
                </div>
                <div class="field">
                    <div class="box-search-item input-field">
                        <label
                                for="name" title="Mã đơn hàng (bắt buộc)" data-title="Mã đơn hàng" class="placeholder-label"></label>
                        <input id="name" name="orderId" type="text" required="required" class="box-search-item">

                    </div>
                </div>
                <p class="text-danger" th:if="${error!= null}" th:text="${error}"></p>
                <button type="submit" class="button button__check-order">Kiểm tra</button>
            </form>
            <div class="bg-order-check"></div>
            <div class="bg-image"><img
                    src="https://cdn2.cellphones.com.vn/insecure/rs:fill:0:0/q:90/plain/https://cellphones.com.vn/media/wysiwyg/Shipper2.png"
                    alt="cps-icon"></div>
            <div id="order-info" class="cps-order-container"><!----></div>
        </div>
    </div>
    <div class="order-details" th:if="${order != null}">


        <div class="status-indicator">
            <div class="icons-container">
                <img class="icon icon1" th:src="@{/img/delivery-svgrepo-com.svg}"></img>
                <img class="icon icon2" th:src="@{/img/delivery-truck-ui-svgrepo-com.svg}"></img>
                <img class="icon icon3" th:src="@{/img/delivery-fast-svgrepo-com.svg}"></img>
                <img class="icon icon4" th:src="@{/img/delivery-success.svg}"></img>
            </div>
            <div class="status-progress" th:style="'width: ' + ${progressPercentage} + '%'">
                <span th:text="${progressPercentage}">10</span>%
            </div>
        </div>

        <p><strong>Mã hóa đơn:</strong> <span th:text="${order.getOrderId()}">123456</span></p>
        <p> <strong>Trạng thái hiện tại:</strong>
            <span th:if="${order.getDeliveryStatus().getStatus().toString() == 'PENDING'}" >Đang xử lý</span>
            <span th:if="${order.getDeliveryStatus().getStatus().toString() == 'SHIPPED'}" >Đã giao hàng</span>
            <span th:if="${order.getDeliveryStatus().getStatus().toString() == 'SHIPPING'}" >Đang giao hàng</span>
        </p>
        <p><strong>Ngày đặt hàng:</strong> <span th:text="${order.getOrderDate().toString()}">2024-06-26</span></p>
        <p><strong>Tổng số tiền:</strong> <span th:text="${order.getTotalPaymentFormatted()}">2024-06-26</span></p>

        <table class="order-items table">
            <thead>
            <tr>
                <th>Số lượng</th>
                <th>Tên sản phẩm</th>
                <th>Giá tiền</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${order.getOrderDetails()}" class="order-item">
                <td><span th:text="${item.getQuantity()}">1</span></td>
                <td><span th:text="${item.getProduct().getProductName()}">Product Name</span></td>
                <td><span class="price" th:attr="data-value=${item.getUnitPrice()}">$99.99</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    // Hàm định dạng số sử dụng toLocaleString
    function formatNumber(number) {
        return Number(number).toLocaleString('vi-VN', { style: 'currency', currency: 'VND' });
    }

    // Hàm để định dạng tất cả các số trong bảng
    function formatPrices() {
        const prices = document.querySelectorAll('.price');
        prices.forEach(price => {
            const value = price.getAttribute('data-value');
            price.textContent = formatNumber(value);
        });
    }

    // Định dạng số sau khi trang được tải
    window.onload = formatPrices;
</script>
</body>
</html>