.nav-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dropdown-menu {
    display: none;
}
.nav-item:hover .dropdown-menu {
    display: block;
}

.nav-banned-custom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
/* Căn chỉnh chiều cao cho slider */
.carousel-item {
    height: 400px;
}

/* Định dạng các nút điều hướng của slider */
.carousel-control-prev, .carousel-control-next {
    width: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền của nút điều hướng */
    border-radius: 50%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    color: #fff; /* Màu của biểu tượng nút điều hướng */
}

/* Định dạng các chú thích của slider */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền của chú thích */
    border-radius: 10px;
    padding: 10px;
}

.carousel-caption h5, .carousel-caption p {
    color: #fff; /* Màu của tiêu đề và mô tả */
}

.mySlides {
    display:none;
}
