<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/list-product.css}">
    <link rel="stylesheet" th:href="@{/css/customer-login.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/static/css/nav-bar-banned.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div th:replace="/layout/header :: header"></div>
<div th:replace="/slide :: slide "></div>
<div class="container">
    <div class="row mt-2">
        <div th:each="product, iterStat : ${products}"  class="col col-3  position-relative">
            <div class="product__price--percent position-absolute">
                <p class="product__price--percent-detail">
                    Giảm&nbsp;27%
                </p>
            </div>
            <div class="install-0-tag">
                Trả góp 0%
            </div>
            <div class="card mb-4">
                <div class="image-container">
                    <img th:each="image : ${product.productImages} " th:style="'width: 180px' "
                         th:src="@{${image.imageUrl}}" alt="Product Image" class="card-img-top product-image"/>
                </div>
                <div class="card-body">
                    <h5 class="card-title" th:text="${product.productName}">Product Name</h5>
                    <p class="card-text" th:text="${formattedPrices[iterStat.index]}">Product Price</p>
                </div>
                <form th:action="@{/add-to-cart}" method="post">
                    <input type="hidden" name="productId" th:value="${product.productId}"/>
                    <button type="submit">Thêm</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>