<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/login.css}" type="text/css" rel="stylesheet">
    <link href="/static/css/login.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<div th:replace="/layout/header :: header"></div>
<div class="container">
    <div class="content">
        <h1>Member Login</h1>
        <i class='fas fa-phone-volume' style='font-size:48px;color:#ffffff'></i>
        <form class="form" id="form" th:action="@{/login}" method="POST">
            <div class="input-container">
                <i class="fas fa-user"></i>
                <input
                        id="username"
                        name="username"
                        type="text"
                        placeholder="User Name"
                />
            </div>
            <div class="input-container">
                <i class="fas fa-lock"></i>
                <input
                        id="password"
                        name="password"
                        type="password"
                        placeholder="Password"
                />
            </div>
            <br />
            <button id="submit" type="submit" >Submit</button>
            <br />
            <div class="forgot-password">
                <a href="/register">Click here to register?</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>