<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <script th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
<div th:replace="/layout/header :: header"></div>
<div class="container register">
    <div class="text-center my-4 d-flex flex-column align-items-center justify-content-center">
        <img th:src="@{/img/logo_login.png}" class="img-fluid" alt="Logo" style="max-width: 150px;">
    </div>
    <div class="h1">Đăng ký tài khoản</div>
    <div class="content">
        <form th:action="@{/customer/register}" th:object="${customer}" class="form-signin"  method="post">
            <div class="user-details">
                <div class="input-box">
                    <label for="fullName" class="details">Họ</label>
                    <input type="text" id="fullName" th:field="*{firstName}" class="form-control"
                           placeholder="Nhập họ của bạn" autofocus required minlength="2" pattern="^[A-Za-z]+$" title="Chỉ được phép nhập chữ cái.">
                    <div class="invalid-feedback error" th:if="${#fields.hasErrors('firstName')} ? errors"
                         th:errors="*{firstName}"></div>
                </div>

                <div class="input-box">
                    <label for="lastName" class="details">Tên</label>
                    <input type="text" id="lastName" th:field="*{lastName}" class="form-control"
                           placeholder="Nhập tên của bạn" required minlength="2" pattern="^[A-Za-z]+$" title="Chỉ được phép nhập chữ cái.">
                    <div class="invalid-feedback error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName} ? errors"></div>
                </div>

                <div class="input-box">
                    <label for="username" class="details">Tài khoản</label>
                    <input type="text" id="username" th:field="*{username}" class="form-control"
                           placeholder="Nhập tên tài khoản" required minlength="6">
                    <div class="invalid-feedback error" th:if="${#fields.hasErrors('username')} ? errors"
                         th:errors="*{username}" th:text="${errors}"></div>
                </div>

                <div class="input-box">
                    <label for="email" class="details">Email</label>
                    <input type="email" id="email" th:field="*{email}" class="form-control"
                           placeholder="Nhập email" required>
                    <div class="invalid-feedback error" th:if="${#fields.hasErrors('email')}" th:errors="*{email} ? errors" th:text="${errors}"></div>
                </div>



                <div class="input-box">
                    <label for="password" class="details">Mật khẩu</label>
                    <input type="password" id="password" th:field="*{password}" class="form-control"
                           placeholder="Nhập mật khẩu" required minlength="6">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('password')} ? errors"
                         th:errors="*{password}" th:text="${errors}"></div>
                </div>

                <div class="input-box">
                    <label for="passwordConfirm" class="details">Xác nhận mật khẩu</label>
                    <input type="password" id="passwordConfirm" th:field="*{passwordConfirm}" class="form-control"
                           placeholder="Xác nhận mật khẩu của bạn" required minlength="6">
                    <div class="invalid-feedback error" th:if="${#fields.hasErrors('passwordConfirm')}"
                         th:errors="*{passwordConfirm}"></div>
                </div>
            </div>
            <div class="gender-details">
                <input type="radio" name="gender" th:field="*{gender}" value="MALE" id="dot-1">
                <input type="radio" name="gender" th:field="*{gender}" value="FEMALE" id="dot-2">
                <span class="gender-title">Giới tính</span>
                <div class="category">
                    <label for="dot-1">
                        <span class="dot one"></span>
                        <span class="gender">Nam</span>
                    </label>
                    <label for="dot-2">
                        <span class="dot two"></span>
                        <span class="gender">Nữ</span>
                    </label>
                </div>
            </div>
            <div>
                <span style="color: red; font-weight: bold" th:text="${result}"></span>
            </div>
            <button class="btn-lg btn-block mt-4 btn-register" type="submit">Đăng ký</button>
        </form>
    </div>
</div>

</body>
</html>